# Telegram Credentials
TELEGRAM_APP_API_ID=your_api_id
TELEGRAM_APP_API_HASH=your_api_hash
TELEGRAM_CHANNEL_ID=-100xxxxxxxxxx
TELEGRAM_BOT_TOKEN=your_bot_token

# Supabase Credentials
PROJECT_URL=https://your-supabase-project.supabase.co
SERVICE_ROLE_KEY=your_supabase_service_role_key

# Backend Port
PORT=8000
